<!doctype html>
<html lang="en" data-ng-app="papermvc" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Paper</title>
		<link rel="stylesheet" href="css/main.min.css">
		<script type="text/javascript" src="js/main.min.js"></script>
	</head>
	<body>
    	<div data-ng-controller="PaperCtrl">
        	<!-- <modal-container></modal-container> -->
        	
        	
        	
        	<button data-ng-click="modal('open')">Show Modal</button>
        	
        	<modal id="modal" data-ng-show="modalObj.visible">
        		<div id="modal-wrapper">
	        		<button id="modal-prev" class="modal-button" data-ng-click="prev()">Prev</button>
	        		<div id="modal-content"></div>
	        		<button id="modal-next" class="modal-button" data-ng-click="next()">Next</button>
        		</div>  
        		<modal-overlay class="modal-overlay"></modal-overlay>  		
        	</modal>
        </div>
	</body>
</html>